<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594847270356-c88rmdon7ajeag7u81ivrvn82am6im5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594847270356-c88rmdon7ajeag7u81ivrvn82am6im5p</string>
	<key>API_KEY</key>
	<string>AIzaSyDwNcUymXmCg8TA6oKz16TUcJ5DrcXJEOg</string>
	<key>GCM_SENDER_ID</key>
	<string>594847270356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.gbreactexample</string>
	<key>PROJECT_ID</key>
	<string>testing-gball</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-gball.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594847270356:ios:5ccf6d492321da97f44241</string>
	<key>DATABASE_URL</key>
	<string>https://testing-gball.firebaseio.com</string>
</dict>
</plist>